.searchbar-container {
  position: relative;

  display: flex;

  padding: 0 10px;
  flex-direction: column;
  width: 100%;
  z-index: 999;
  transition: all 0.3s ease;
}

.searchbar {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}
.search-box {
  width: 100%;
  background: #eeeeeea3;
  padding: 10px 20px;
  border: 1px solid #80808000;
  border-radius: 50px;
}
.search-box:focus {
  outline: none;
  border: 1px solid #80808076;
}

.search-button {
  position: absolute;
  width: 30px;
  height: 30px;
  /* top: 10px; */
  padding: 10px;
  border-radius: 100px;
  font-size: 0.9rem;
  right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--gradient-color);
}
.search-button.disabled {
  /* opacity: 0.5; */

  pointer-events: none;
  cursor: not-allowed;
}

.search-icon {
  text-decoration: none;
  color: #3c3c3c;
  color: white;
}

.searched-item {
  display: flex;
  align-items: center;
  border: 1px solid #eaeaea;
}
.searched-images {
  width: 100%;
  max-width: 100px;
}
.searched-image {
  width: 100%;
  object-fit: cover;
}
.searched-details {
  display: flex;
  flex-direction: column;
}
.searched-title {
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 5px;
  color: black;
}
.searched-price {
  font-size: 0.8rem;
  font-weight: 500;
  color: black;
}

@media (max-width: 480px) {
  .search-button {
    position: absolute;
    
    font-size: 1.2rem;
    
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* .search-button.disabled {
    opacity: 0.5;
    position: absolute;
    top: 12px;
    font-size: 1.2rem;
    right: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    cursor: not-allowed;
  } */
}
