* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inter, sans-serif;
  -webkit-tap-highlight-color: transparent;
  scrollbar-width: none;
}

:root {
  --text-color: black;
  --font-family: "Inter";
  --primary-color: #26c0ff;
  --primary-color: #0094ff;
  --transparent-color: #ffffff57;
  --gradient-color: linear-gradient(45deg, #26c0ff, #4857ff);
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

Link,
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 12px;
  }
}

body {
  background-color: #f5f8fe;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
